ailment==9.1.10913
angr==9.1.10913
archinfo==9.1.10913
bitstring==3.1.9
cachetools==5.0.0
capstone==4.0.2
cffi==1.15.0
claripy==9.1.10913
cle==9.1.10913
CppHeaderParser==2.7.4
decorator==5.1.1
dpkt==1.9.7.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.26
itanium-demangler==1.0
mulpyplexer==0.9
nampa==0.1.1
networkx==2.6.3
pefile==2021.9.3
plumbum==1.7.2
ply==3.11
progressbar2==4.0.0
protobuf==3.19.3
psutil==5.9.0
pycparser==2.21
pyelftools==0.27
PySMT==0.9.1.dev139
python-utils==3.1.0
pyvex==9.1.10913
PyYAML==6.0
rpyc==5.0.1
smmap==5.0.0
sortedcontainers==2.4.0
unicorn==1.0.2rc4
z3-solver==4.8.14.0
